

.button {
  margin-right:auto;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}

#box {
	text-align: center;
 	margin-top: 150px;
  	background: #ffffff;
  	padding: 1%;
  	width: 300px;
  	height: 280px;
  	margin-left: auto;
  	margin-right: auto;
  	-webkit-box-shadow: 0px 0px 18px -1px rgba(168,165,168,1);
	-moz-box-shadow: 0px 0px 18px -1px rgba(168,165,168,1);
	box-shadow: 0px 0px 18px -1px rgba(168,165,168,1);

  	
}